<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
       <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/jon.css">
    <link rel="stylesheet" href="/css/hover.css">
    <link rel="stylesheet" href="/css/djs.css">
    <link rel="stylesheet" href="/css/klove.css">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <style>
        .card-img-top {
            width: 100%;
            height: 40vh;
            object-fit: cover;
        }
    </style>
</head>
<body>

{% include '_includes/chat' %}

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>