{% extends "_site/NewLayout" %}
{% block content %}

    <!-- AlpineJS -->
    <script defer src="/js/alpinejs/dist/cdn.min.js"></script>

    <!-- Card List Section -->
    <section x-data="xData()" class="bg-gray-100 dark:bg-gray-900 py-10 px-12">
        <!-- Card Grid -->
        <div class="grid grid-flow-row gap-8 text-neutral-600 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
            <template x-for="post in posts">
                <!-- Card Item -->
                <div class="my-8 rounded shadow-lg shadow-gray-200 dark:shadow-gray-900 bg-white dark:bg-gray-800 duration-300 hover:-translate-y-1"
                     x-for="(post, index) in posts">
                    <!-- Clickable Area -->
                    <a _href="link" class="cursor-pointer">
                        <figure>
                            <!-- Image -->
                            <img :src="post.image + '?auto=format&fit=crop&w=400&q=50'"
                                 class="rounded-t h-72 w-full object-cover">

                            <figcaption class="p-4">
                                <!-- Title -->
                                <p class="text-lg mb-4 font-bold leading-relaxed text-gray-800 dark:text-gray-300"
                                   x-text="post.title"></p>
                                <small class="leading-5 text-gray-500 dark:text-gray-400" x-text="post.description">
                                </small>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </template>
        </div>
    </section>

    <script>
      function xData() {
        /**
         * Shuffle an array
         * @param {Array} array
         * @source https://stackoverflow.com/a/2450976/6940144
         */
        function shuffle(array) {
          let currentIndex = array.length,
            randomIndex;

          // While there remain elements to shuffle.
          while (currentIndex != 0) {
            // Pick a remaining element.
            randomIndex = Math.floor(Math.random() * currentIndex);
            currentIndex--;

            // And swap it with the current element.
            [array[currentIndex], array[randomIndex]] = [
              array[randomIndex],
              array[currentIndex],
            ];
          }

          return array;
        }

        const posts = [
            {% for entry in craft.entries.section('newsEntries') %}
            {% set image = entry.overviewImage.one() %}
          {
              {% if image %}
            image: "{{ image.getUrl() }}",
              {% endif %}
            title: "{{ entry.title }}",
            description: "{{ entry.intro }}",
          },

            {% endfor %}
        ];

        return {
          posts: [
            ...shuffle(posts),
          ],
        };
      }
    </script>
{% endblock %}